$black: #000;
$mine_shaft: #222;
$dove_gray: #666;
$custom_grey: #404040;
$boulder: #777;
$silver: #ccc;
$alto: #dcdcdc;
$gallery: #efefef;
$white: #fff;

$error: #ff0000;

$teal: #007f7f;
$botticelli: #c4e0e0;